= render "home_slider"

= render "home_doors"
= render "home_advantages"
= render "home_video"
= render "home_collections"
= render "home_map"
= render "home_publications"
= render "home_contact_form"
