#fullpage
.fp-section
	height: calc(100vh - 70px)
.block-wrapper
	height: 700px
	@media #{$small-only}
		height: initial
		overflow: hidden
	.section-title-1, .section-title-2, .section-title-3, .section-title-4
		@extend .section-title
		color: $brown
		margin: 0 0 0 30px
		&:after
			bottom: -5px
		@media #{$small-only}
			// margin: 30px 0 0 30px
			font-size: 2em		
			margin: 0
		@media #{$medium-up}
			opacity: 0
			+translate(0,-300%)
			+transition(0.7s)
		&:after
			border: 1px solid $brown
		&.appeared
			+translate(0,0)
			opacity: 1
	.shadow-text-1, .shadow-text-2, .shadow-text-3, .shadow-text-4
		@extend .shadow-text
		position: relative
		top: -25px
		left: 50px
		line-height: 100px
		@media #{$small-only}
			left: 0
			font-size: 15vw
			top: 0
			margin-top: -30px
		@media #{$medium-up}
			opacity: 0
			+transition(1s)
		&.appeared
			+translate(0,0)
			opacity: 0.05
	.shadow-text-1
		@media #{$medium-up}
			+translate(-200%,0)
	.shadow-text-2
		@media #{$medium-up}
			+translate(200%,0)
	.shadow-text-3
		@media #{$medium-up}
			+translate(-200%,0)
	.shadow-text-4
		@media #{$medium-up}
			+translate(-200%,0)
	.photo-container
		position: relative
		.photo-left, .photo-right
			height: 400px
			width: 200%
			background-size: cover
			position: absolute
			@media #{$medium-up}
				opacity: 0
				+transition(1s)
			@media #{$small-only}
				position: relative
				width: 100%
				height: 250px
			&.appeared
				+translate(0,0)
				opacity: 1
		.photo-left
			right: 0
			background-position: right
			@media #{$medium-up}
				+translate(-100%,0)
			@media #{$small-only}
				background-position: center
		.photo-right
			left: 0
			background-position: left
			@media #{$medium-up}
				+translate(50%,0)
			@media #{$small-only}
				background-position: center
		.photo-frame-left, .photo-frame-right
			width: inherit
			height: 95%
			position: absolute
			top: 2.5%
			border: 1px solid $light-brown
			@media #{$small-only}
				display: none
		.photo-frame-left
			right: -10px
		.photo-frame-right
			left: -10px
	.text-1, .text-2, .text-3
		padding: 30px
		@media #{$medium-up}
			opacity: 0
			transition: 1.5s
		@media #{$small-only}
			padding: 0
			margin-top: 20px
			margin-bottom: 20px
		.regular
			line-height: 22px
			&:nth-child(2)
				margin-top: 20px
		&.appeared
			opacity: 1

	.advantage-container
		width: 100%
		border: 1px solid $brown
		margin-bottom: 20px
		padding: 20px
		@media #{$small-only}
			margin-bottom: 5px
		@media #{$medium-up}
			opacity: 0
			+translate(200%,0)
			+transition(1s)
		@media #{$small-only}
			padding: 0
		@media #{$medium-only}
			padding: 0
		&.appeared
			opacity: 1
			+translate(0,0)
		.icon-frame
			width: 110px
			height: 110px
			display: inline-block
			@media #{$small-only}
				width: 80px
				height: 80px
		.icon
			background-size: contain
			background-position: center
			background-repeat: no-repeat
		.appear1, .appear2, .appear3, .appear4
			width: 110px
			height: 110px
			position: relative
			+scale(0)
			@media #{$small-only}
				+scale(1)
				width: 80px
				height: 80px
		.appear1
			+transition(1.5s)
		.appear2
			+transition(.9s)
			+transition-delay(.2s)
		.appear3
			+transition(.8s)
			+transition-delay(.4s)
		.appear4
			+transition(.7s)
			+transition-delay(.6s)
		.appeared
			+scale(1)
		.text-container
			display: inline-block
			vertical-align: top
			padding: 10px	
			@media #{$medium-only}
				padding: 10px 0
			.this-title
				font-size: 2em
				text-transform: uppercase
				color: $brown
				@media #{$small-only}
					font-size: 1.75em
				span
					font-size: 0.5em
					text-transform: uppercase
					color: $brown
			.this-subtitle
				font-size: 1.125em
				color: $dark-grey
				@media #{$small-only}
					font-size: 1em

	.door-container
		position: relative
		float: right
		overflow: hidden
		width: 360px
		&:after
			content: ''
			position: absolute
			width: 100%
			bottom: 0
			height: 3px
			background: $light-brown
		.door
			position: relative
			top: 5px
			+transition(0.8s)
			left: 20px
			+translate(0,100%)
		.appeared
			+translate(0,0)
		@media #{$small-only}
			display: none
		@media #{$medium-only}
			display: none
	.form-container
		border: 1px solid $dark-grey
		padding: 0 30px
		max-width: 600px
		margin-bottom: 5px
		@media #{$medium-up}
			opacity: 0
			+transition(1s)
		@media #{$small-only}
			padding: 20px 10px 0
		@media #{$medium-only}
			margin: 0 auto
		&.appeared
			opacity: 1
		form
			@media #{$small-only}
				padding: 10px
		.subtitle
			line-height: 30px
			@media #{$small-only}
				font-size: 1.5em