.cart-wrapper
	hr
		border-top: #fff
		margin-top: 20px
	.title
		text-transform: uppercase
		margin-top: 30px
		color: $brown
		font-size: 1.625em
		border-bottom: 1px solid $dark-grey
		padding-bottom: 5px
	.group-container
		+clearfix
		.group
			&.go-left
				width: 100%
				@media #{$medium-up}
					width: 45%
					float: left
			&.go-right
				width: 100%
				@media #{$medium-up}
					width: 45%
					float: right
	form
		padding: 0
		input
			padding-bottom: 5px
		label
			color: $light-grey
		.above-textarea
			color: $light-grey
		textarea
			border: 1px solid $light-grey
	button
		color: #fff
		display: inline-block
		text-transform: uppercase
		font-size: 1em
		background: $brown
		font-weight: 100
		line-height: 40px
		width: 150px
		// margin-top: 50px
		margin-right: 30px
		text-align: center
		position: relative
		cursor: pointer
		.animated-frame
			top: 3px
			right: 3px
			bottom: 3px
			left: 3px
		&:hover
			.animated-frame
				.left-border, .right-border, &:before, &:after
					+translate(0,0)
		@media #{$small-only}
			margin-top: 40px
			margin-top: 20px
	.go-ahead
		text-transform: uppercase
		display: inline-block
		color: $brown
		// margin-top: 50px
		line-height: 30px
		border-bottom: 1px solid $brown
		cursor: pointer
	.cart-item
		+clearfix
		margin-top: 20px
		position: relative
		@media #{$small-only}
			margin-top: 10px
		.delete-item
			width: 26px
			height: 26px
			border-radius: 26px
			background-color: #fff
			position: absolute
			left: -12px
			top: -7px
			text-align: center
			border: 1px solid $brown
			opacity: 0
			cursor: pointer
			+transition(0.1s)
		.item-img
			display: inline-block
			float: left
			background-size: contain
			background-repeat: no-repeat
			width: 50px
			height: 100px
			margin-right: 30px
			margin-top: 5px
			@media #{$small-only}
				margin-right: 15px
				width: 45px
				height: 90px
		.item-description
			display: inline-block
			float: left
			@media #{$small-only}
				display: block
				float: none
			.regular
				color: $brown
				margin-bottom: 10px
				max-width: 330px
				@media #{$small-only}
					font-size: 0.875em
					line-height: 18px
			.parameters-container
				display: flex
				justify-content: space-between
				font-size: 0.875em
				align-items: center
				@media #{$small-only}
					font-size: 0.75em
			.quantity-container
				float: left
				span
					display: inline-block
					width: 30px
					height: 30px
					text-align: center
					border: 1px solid $light-grey
					color: $brown
					font-size: 1.125em
					cursor: pointer
					&.quantity
						border: none
					@media #{$small-only}
						width: 20px
						height: 20px
			.price
				font-size: 1.25em
				font-weight: 600
				color: $grey
				width: 50px
				text-align: right
		&:hover
			.delete-item
				opacity: 1
	.bill-container
		border-top: 1px solid $dark-grey
		margin-top: 20px
		padding-top: 20px
		color: $grey
		.bill
			display: flex
			justify-content: space-between
			.price
				color: $brown
			&.total
				font-size: 1.25em
				padding: 15px 0
				margin-top: 15px
				border-top: 1px dashed $light-grey