.collection-one-wrapper
	.go-left
		float: left !important
	.go-right
		float: right !important
	.banner-container
		height: calc(100vh - 80px)
		.row
			height: 100%
	.frame-on-banner
		border: 1px solid $brown
		height: 100%
		position: relative
		.text-container
			position: relative
			top: 50%
			padding: 0 20px
			+translate(0,-50%)
		.section-title
			margin: 0
			color: $brown
			margin-bottom: 50px
			&:after
				+after(100px,$brown)
		.block-container
			+clearfix
		.block
			width: 200px
			float: left
			margin: 0 30px 15px 0
			.svg
				width: 35px
				height: 35px
				padding: 5px
				background-color: $dark-grey
				fill: #fff
				float: left
			span
				font-size: 1.25em
				margin-left: 10px
		.regular
			clear: both
			margin-top: 35px
		.more
			position: relative
			left: 50%
			+translate(-50%,0)
			text-align: center
			display: inline-block
			margin-top: 50px
			.regular-big
				text-transform: uppercase
				font-weight: 300
				color: $brown
	.slider-container
		width: 100%
		position: relative
		@media #{$medium-up}	
			padding-left: 5px
		.squares
			left: 50%
			right: initial
			+translate(-50%,0)
			a
				border: 1px solid #fff
				&.active
					background-color: #fff
	.door-container
		padding-top: 100px
		.section-title
			color: $brown
			margin: 0
		.choose-option-field
			.option
				font-size: 0.875em
				color: $grey
			select
				-webkit-webkit-appearence: none
				-moz-webkit-appearence: none
				-ms-webkit-appearence: none
				-o-webkit-appearence: none
				webkit-appearence: none
				