@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic)
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,400italic,600,600italic,700,700italic&subset=latin,cyrillic,latin-ext)
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext,cyrillic)

= arimo
	font-family: "Arimo", sans-serif
= exo
	font-family: "Exo 2", sans-serif
= lora
	font-family: "Lora", serif
	
.arimo
	+arimo
.exo
	+exo
.lora
	+lora

.uppercased
	text-transform: uppercase
.font10
	font-size: 0.625em
.font14
	font-size: 0.875em
.font16
	font-size: 1em
.font18
	font-size: 1.125em
.font20
	font-size: 1.25em
.font22
	font-size: 1.375em
.font24
	font-size: 1.5em
.font25
	font-size: 1.5625em
.font28
	font-size: 1.75em
.font30
	font-size: 1.875em
.font32
	font-size: 2em
.font36
	font-size: 2.25em
.font40
	font-size: 2.5em
.font51
	font-size: 3.1875em