.header-container
	width: 100%
	height: 55px
	margin-bottom: 5px
.header-logo-picture, .header-logo-inscription, .cart, .phone, .menu
	display: inline-block
.header-logo-picture, .header-logo-inscription
	float: left
	margin-left: 10px
	margin-top: 3px
.icons-right-side
	float: right
.cart, .phone, .menu
	float: left
	fill: $brown
	border: 1px solid $brown
	width: 55px
	height: 55px
	margin-left: 5px
	svg
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)