body
	padding: 5px
	+exo
	color: $dark-grey
.columns
	height: inherit
.banner-container
	height: calc(100vh - 80px)
	width: 100%
	margin-bottom: 2px
	position: relative
	.slider-container
		width: 100%
		height: 100%
		position: absolute
		.bx-wrapper
			height: inherit
			.bx-viewport
				height: inherit
				.bxslider
					height: inherit
					li
						height: inherit
						.img-container
							background-position: center
							background-size: cover
							height: inherit
.product-unit-on-banner
	position: relative
	margin-top: 100px
	padding: 30px
	height: 80%
	background-color: rgba(255,255,255, .85)
	outline: 5px solid rgba(255,255,255, .85)
	border: 1px solid $brown
	left: 10%
	max-width: 550px
	min-width: 400px
	@media #{$small-only}
		position: absolute
		left: initial
		height: 45%
		bottom: 100px
		min-width: initial
		width: 90%
		left: 50%
		transform: translateX(-50%)
	.font36
		margin: 20px 0 60px
		color: $brown
		font-weight: 600
		line-height: 32px
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: -15px
			left: 0
			width: 100px
			border: 1px solid $brown
	.interior, .traditional, .price
		float: left
		margin: 0 20px 15px 0
	span
		margin-left: 10px
	svg
		position: relative
		vertical-align: middle
		fill: $brown
	.regular
		color: $dark-grey
		opacity: 0.7
		padding: 20px 0
		clear: both
		@media #{$small-only}
			display: none
	.squares
		position: absolute
		right: 30px
		bottom: 30px
		a
			display: inline-block
			margin: 0 8px
			width: 10px
			height: 10px
			border: 1px solid $light-brown
			&.active
				background-color: $brown
.view
	text-transform: uppercase
	color: $light-brown
	text-decoration: none
	padding: 5px 10px
	position: absolute
	left: 30px
	bottom: 30px
	margin: 0
	font-size: 1.125em
	overflow: hidden
	transition: .2s
	.left-border
		+left-border($brown)
	.right-border
		+right-border($brown)
	&:before
		+top-border($brown)
	&:after
		+bottom-border($brown)		
	&:hover
		color: $brown
		.left-border, .right-border
			transform: translateY(0)
		&:before, &:after
			transform: translateX(0)


//                          U N D E R   B A N N E R

.boxes-wrapper
	margin-left: -2px
	margin-right: -2px

.section-name
	background-color: $brown
.frame-white, .frame-black, .animated-frame
	position: absolute
	top: 10px
	bottom: 10px
	left: 10px
	right: 10px
	z-index: 2
.frame-white
	border: 1px solid #fff
.frame-black
	border: 1px solid $dark-grey
.animated-frame
	overflow: hidden
	.left-border
		+left-border(#fff)
	.right-border
		+right-border(#fff)
	&:before
		+top-border(#fff)
	&:after
		+bottom-border(#fff)
	&:hover
		color: $brown
		.left-border, .right-border
			transform: translateY(0)
		&:before, &:after
			transform: translateX(0)

.square
	position: relative
	margin: 2px
	overflow: hidden
	cursor: pointer
	&:after
		content: ''
		display: block
		padding-bottom: 100%
	&:hover
		.animated-frame
			.left-border, .right-border
				opacity: 1
				transform: translateY(0)
			&:before, &:after
				opacity: 1
				transform: translateX(0)
		.photo-container
			width: 105%
			height: 105%
			left: -2.5%
.square-section
	position: relative
	margin: 2px
	overflow: hidden
	cursor: pointer
	&:after
		content: ''
		display: block
		padding-bottom: 100%
	@media #{$small-only}
		&:after
			padding-bottom: 50%
.photo-container, .section-name, .doors
	position: absolute
	width: 100%
	height: 100%
	background-size: cover
	background-position: center
	left: 0
	top: 0
	transition: .5s
.shadow
	position: absolute
	width: 100%
	height: 50%
	bottom: 0
	background: linear-gradient(to bottom, transparent, rgba(65,65,65, .5))

//                          D O O R S

.doors
	background-color: $blue-grey
	color: $dark-grey
	&:hover
		background-color: $brown
		.text
			display: none
		.hover-text
			opacity: 1
		.frame-black
			z-index: 0
	.door-container
		width: 45%
		height: inherit
		float: left
		.door-shadow-frame
			width: 100%
			height: 65%
			position: relative
			top: 50%
			transform: translateY(-50%)
			border: 1px solid $light-grey
			padding: 5px
			.door-shadow
				width: 100%
				height: 100%
				background-color: $light-grey
		.door-itself
			position: absolute
			width: 100%
			height: 80%
			top: 50%
			background-size: contain
			background-repeat: no-repeat
			transform: translateY(-50%)
	.text
		float: left
		width: 55%
		height: 65%
		+transform
		padding: 0 15px
		.product-offer
			display: inline-block
			padding: 3px 5px
			color: #fff
			background-color: $brown
			text-transform: uppercase
			font-size: 0.625em
	.hover-text
		float: left
		width: 55%
		height: 65%
		opacity: 0
		+transform
		padding: 0 15px
		color: #fff
		.wood-type
			&:after
				border: 1px solid #fff
		.regular
			margin-top: 20px
			@media only screen and (min-width: 0px) and (max-width: 480px)
				display: none
			@media only screen and (min-width: 640px) and (max-width: 1800px)
				display: none
			@media only screen and (min-width: 1024px) and (max-width: 1440px)
				display: none
		.view
			color: #fff
			padding: 5px 10px
			position: absolute
			left: 5px
			bottom: 0
			margin: 0
			transition: .2s
			.left-border
				+left-border(#fff)
			.right-border
				+right-border(#fff)
			&:before
				+top-border(#fff)
			&:after
				+bottom-border(#fff)		
			&:hover
				.left-border, .right-border
					transform: translateY(0)
				&:before, &:after
					transform: translateX(0)

	table
		margin-top: 20px
		tr
			&:nth-child(1)
				@media only screen and (min-width: 0) and (max-width: 400px)
					display: none
				@media only screen and (min-width: 1024px) and (max-width: 1440px)
					display: none
				@media only screen and (min-width: 640px) and (max-width: 760px)
					display: none
			&:nth-child(2)
				@media only screen and (min-width: 0) and (max-width: 400px)
					display: none
				@media only screen and (min-width: 1024px) and (max-width: 1440px)
					display: none
				@media only screen and (min-width: 640px) and (max-width: 760px)
					display: none
		td
			padding-top: 10px
			@media only screen and (min-width: 1024px) and (max-width: 1100px)
				padding-top: 0
			span
				margin-left: 10px
		svg
			fill: $dark-grey

//                     A D V A N T A G E S

.advantages
	border: 1px solid $brown
	overflow: hidden
	margin-top: 3px
	.picture-frame
		position: relative
		height: 330px
		width: 100%
		width: 30%
		margin: 70px 0
		border: 1px solid $brown
		display: none
		float: left
		@media only screen and (min-width: 1200px)
			display: block
		.photo-itself
			position: absolute
			background-size: cover
			width: 150%
			height: 105%
			right: 10px
			top: -9px
	.why-arazzinni
		margin: 70px 0
		width: 70%
		float: left
		padding: 0 15px
		@media only screen and (max-width: 1200px)
			width: 100%
		.font30
			color: $brown
			position: relative
			top: -8px
			&:after
				+after(100px,$brown)
		.font18
			color: $dark-grey
			margin-top: 20px
		.learn-more
			text-transform: uppercase
			color: $light-brown
			text-decoration: none
			position: relative
			padding: 5px 10px
			margin-top: 20px
			font-size: 1em
			overflow: hidden
			display: inline-block
			transition: .2s
			.left-border
				+left-border($brown)
			.right-border
				+right-border($brown)
			&:before
				+top-border($brown)
			&:after
				+bottom-border($brown)		
			&:hover
				color: $brown
				.left-border, .right-border
					transform: translateY(0)
				&:before, &:after
					transform: translateX(0)
.advantages-icons-container
	background-color: $blue-grey
	width: 100%
	margin: 20px 0 20px 0
	padding: 20px
	@media #{$xxlarge-up}
		margin: 70px 20px 50px 0
	.icon-container
		border: 1px solid $light-grey
		background-size: contain
		background-position: center
		background-repeat: no-repeat
		display: inline-block
		width: 110px
		height: 110px
		margin-bottom: 20px
	.text-container
		display: inline-block
		vertical-align: top
		padding: 10px	
		.this-title
			font-size: 2em
			text-transform: uppercase
			color: $brown
			span
				font-size: 0.5em
				text-transform: uppercase
				color: $brown
		.this-subtitle
			font-size: 1.125em
			color: $dark-grey

//                                V I D E O

.video-container
	height: 500px
	margin-top: 5px
	margin-bottom: 2px
	background-size: cover
	background-position: center
	width: 100%
	@media #{$small-only}
		display: none
	.text-container
		position: relative
		left: 50%
		transform: translateX(-50%)
		width: 50%
		text-align: center
		padding-top: 170px
		.play-button
			width: 80px
			height: 80px
			margin-bottom: 20px
			display: inline-block
		.font22
			color: white

//                           C O L L E C T I O N S

.arazzinni-colections
	.number
		font-size: 3.75em
		position: absolute
		left: 30px
		top: 20px
		color: #fff
		text-shadow: 1px 1px 5px $light-grey
	.name
		font-size: 1.875em
		text-transform: uppercase
		font-weight: 600
		color: #fff
		position: absolute
		left: 30px
		bottom: 50px
	.quantity-items
		color: $blue-grey
		position: absolute
		left: 30px
		bottom: 30px
	.sand
		position: absolute
		fill-opacity: 0.05
		right: 120px
		bottom: 35px
		width: 40%
	.font24
		font: Georgia
		font-style: italic
		color: #fff
		position: absolute
		right: 30px
		bottom: 30px
		opacity: 0.5
//                                   M A P

.map-wrapper
	overflow: hidden
	margin-bottom: 5px
	.subtitle
		position: relative
		padding-top: 70px
	.font18
		padding-top: 30px
	.map-frame
		height: 500px
		width: 100%
		border: 1px solid $light-grey
		margin-top: 40px
		position: relative
		.map
			position: absolute
			margin-top: 30px
			width: 200%
			left: -50%
			max-width: 1400px

//                        P U B L I C A T I O N S

.arazzinni-publications
	.subtitle-bold
		position: absolute
		bottom: 90px
		left: 30px
		@media #{$medium-only}
			font-size: 1.5em
	.under-subtitle-atributes
		position: absolute
		left: 30px
		bottom: 30px
		.date, .views
			display: inline-block
			margin-right: 10px
			span
				margin-left: 5px
			.svg-block
				height: 35px
				width: 35px
				background-color: $brown
				display: inline-block
				vertical-align: middle
			svg
				position: relative
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
			.eye-svg
				top: 40%
			.font16
				color: $blue-grey

//                                   F O R M

.form-wrapper
	position: relative
	overflow: hidden
	.door-container
		height: 650px
		width: 550px
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		bottom: 0
		background-position: bottom
		@media only screen and (max-width: 1024px)
			display: none
	.form-container
		border: 1px solid $light-grey
		margin-top: 100px
		margin-bottom: 20px
		position: relative
		z-index: 2
		max-width: 500px
		min-width: 400px
		textarea
			border: 1px solid $light-grey
		@media #{$medium-only}
			margin: 100px auto 20px
		@media #{$small-only}
			margin: 50px auto 20px
			min-width: initial

.footer-container
	line-height: 65px
	text-align: center
	background-color: $brown
	color: #fff
	margin-top: 5px
	.logo
		display: inline-block
		position: relative
		top: 10px
		margin-right: 10px
	a
		margin-right: 20px
	.font14
		display: inline-block
	.go-left
		float: left !important
		@media #{$small-only}
			background-color: #6C4E2C
		@media #{$medium-only}
			background-color: #6C4E2C
	.go-right
		float: right !important