.banner-container
	height: calc(100vh - 70px)
	width: 100%
	margin-bottom: 2px
	position: relative
	.slider-container
		width: 100%
		height: 100%
		position: absolute
		.bx-wrapper
			height: inherit
			.bx-viewport
				height: inherit
				.bxslider
					height: inherit
					li
						height: inherit
						.img-container
							background-position: center
							background-size: cover
							height: inherit
.product-unit-on-banner
	position: relative
	margin-top: 100px
	height: 80%
	background-color: rgba(255,255,255, .85)
	outline: 5px solid rgba(255,255,255, .85)
	border: 1px solid $brown
	left: 10%
	max-width: 550px
	min-width: 400px
	@media #{$small-only}
		position: absolute
		left: initial
		height: 45%
		bottom: 100px
		min-width: initial
		width: 90%
		left: 50%
		transform: translateX(-50%)
	.unit1, .unit2, .unit3, .unit4
		position: absolute
		padding: 30px
		opacity: 0
		transition: 0.3s
		&.visible
			opacity: 1
	.unit-title
		font-size: 2.25em
		text-transform: uppercase
		margin-bottom: 50px
		color: $brown
		font-weight: 600
		line-height: 32px
		position: relative
		&:after
			+after(100px, $brown)
	.interior, .traditional, .price
		float: left
		margin: 0 20px 15px 0
	.atributes
		margin-left: 10px
		font-size: 1.25em
	svg
		position: relative
		vertical-align: middle
		fill: $brown
	.regular
		color: $dark-grey
		opacity: 0.7
		padding: 20px 0
		clear: both
		@media #{$small-only}
			display: none
	.button-brown
		position: absolute
		left: 30px
		bottom: 30px
		color: $light-brown
.squares
	position: absolute
	right: 30px
	bottom: 30px
	a
		display: inline-block
		margin: 0 8px
		width: 10px
		height: 10px
		border: 1px solid $light-brown
		&.active
			background-color: $brown

//                          U N D E R   B A N N E R

.boxes-wrapper
	margin-left: -2px
	margin-right: -2px
	position: relative
	background-color: #fff
.section-name
	background-color: $brown
.frame-white, .frame-black, .animated-frame
	position: absolute
	top: 10px
	bottom: 10px
	left: 10px
	right: 10px
	z-index: 2
.frame-white
	border: 1px solid #fff
.frame-black
	border: 1px solid $dark-grey
.animated-frame
	overflow: hidden
	z-index: 3
	.left-border
		+left-border(#fff)
	.right-border
		+right-border(#fff)
	&:before
		+top-border(#fff)
	&:after
		+bottom-border(#fff)

.square, .square-section
	position: relative
	margin: 2px
	overflow: hidden
	cursor: pointer
	&:after
		content: ''
		display: block
		padding-bottom: 100%
.square-section
	@media #{$small-only}
		&:after
			padding-bottom: 50%
.section-name, .doors, .collection, .publication
	position: absolute
	width: 100%
	height: 100%
	background-size: cover
	background-position: center
	left: 0
	top: 0
	transition: .5s
.collection, .publication
	&:after
		content: ''
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: linear-gradient(to bottom, transparent, transparent, rgba(65,65,65, .5))
.collection	
	&:hover
		.animated-frame
			.left-border, .right-border
				+translate(0,0)
			&:before, &:after
				+translate(0,0)
.square
	&:hover
		.animated-frame
			.left-border, .right-border
				+translate(0,0)
			&:before, &:after
				+translate(0,0)
		.publication
			+scale(1.05)

//                          D O O R S

.doors
	background-color: $blue-grey
	color: $dark-grey
	&:hover
		background-color: $brown
		.text
			display: none
		.hover-text
			opacity: 1
		.frame-black
			z-index: 0
	.door-container
		width: 45%
		height: inherit
		float: left
		.door-shadow-frame
			width: 100%
			height: 65%
			position: relative
			top: 50%
			transform: translateY(-50%)
			border: 1px solid $light-grey
			padding: 5px
			.door-shadow
				width: 100%
				height: 100%
				background-color: $light-grey
		.door-itself
			position: absolute
			width: 100%
			height: 80%
			top: 50%
			background-size: contain
			background-repeat: no-repeat
			transform: translateY(-50%)
	.text
		float: left
		width: 55%
		height: 65%
		+transform
		padding: 0 15px
		.product-offer
			display: inline-block
			padding: 3px 5px
			color: #fff
			background-color: $brown
			text-transform: uppercase
			font-size: 0.625em
	.hover-text
		float: left
		width: 55%
		height: 65%
		opacity: 0
		+transform
		padding: 0 15px
		color: #fff
		.wood-type
			&:after
				border: 1px solid #fff
		.regular
			margin-top: 20px
			@media only screen and (min-width: 0px) and (max-width: 480px)
				display: none
			@media only screen and (min-width: 640px) and (max-width: 1800px)
				display: none
			@media only screen and (min-width: 1024px) and (max-width: 1440px)
				display: none
		.button-white
			color: #fff
			position: absolute
			left: 5px
			bottom: 0

	table
		margin-top: 20px
		tr
			&:nth-child(-n+2)
				@media only screen and (min-width: 0) and (max-width: 400px)
					display: none
				@media only screen and (min-width: 1024px) and (max-width: 1440px)
					display: none
				@media only screen and (min-width: 640px) and (max-width: 760px)
					display: none
		td
			padding-top: 10px
			@media only screen and (min-width: 1024px) and (max-width: 1100px)
				padding-top: 0
			span
				margin-left: 10px
		svg
			fill: $dark-grey

//                     A D V A N T A G E S

.advantages
	border: 1px solid $brown
	overflow: hidden
	margin-top: 3px
	.picture-frame
		position: relative
		height: 330px
		width: 100%
		width: 30%
		margin: 70px 0
		border: 1px solid $brown
		display: none
		float: left
		@media only screen and (min-width: 1200px)
			display: block
	.photo
		position: absolute
		background-size: cover
		width: 150%
		height: 105%
		right: 10px
		top: -9px
	.why-arazzinni
		margin: 70px 0
		width: 70%
		float: left
		padding: 0 15px
		@media only screen and (max-width: 1200px)
			width: 100%
		.regular
			color: $dark-grey
			margin-top: 20px
		.button-brown
			color: $light-brown
			position: relative
			margin-top: 20px
.advantages-icons-container
	background-color: $blue-grey
	width: 100%
	margin: 20px 0 20px 0
	padding: 20px
	@media #{$xxlarge-up}
		margin: 70px 20px 50px 0
	.icon-frame
		border: 1px solid $light-grey
		width: 110px
		height: 110px
		margin-bottom: 20px
		display: inline-block
	.icon
		background-size: contain
		background-position: center
		background-repeat: no-repeat
	.appear1, .appear2, .appear3, .appear4
		width: 110px
		height: 110px
		position: relative
		+scale(0)
	.appear1
		+transition(1s)
	.appear2
		+transition(.9s)
		+transition-delay(.2s)
	.appear3
		+transition(.8s)
		+transition-delay(.4s)
	.appear4
		+transition(.7s)
		+transition-delay(.6s)
	.appeared
		+scale(1)
	.text-container
		display: inline-block
		vertical-align: top
		padding: 10px	
		.this-title
			font-size: 2em
			text-transform: uppercase
			color: $brown
			span
				font-size: 0.5em
				text-transform: uppercase
				color: $brown
		.this-subtitle
			font-size: 1.125em
			color: $dark-grey

//                                V I D E O

.video-container
	height: 500px
	margin-top: 5px
	margin-bottom: 2px
	background-size: cover
	background-position: center
	width: 100%
	@media #{$small-only}
		display: none
	.text-container
		position: relative
		left: 50%
		transform: translateX(-50%)
		width: 50%
		text-align: center
		padding-top: 170px
		.play-button
			width: 80px
			height: 80px
			margin-bottom: 20px
			display: inline-block
		.text
			font-size: 1.22em
			color: white

//                           C O L L E C T I O N S

.arazzinni-colections
	.collection
		&:hover
			.hover-text
				opacity: 1
	.hover-text
		position: absolute
		+transition(.5s)
		opacity: 0
		background-color: $light-brown
		width: inherit
		height: inherit
		z-index: 3
		color: #fff
		padding: 30px
		.frame-wrapper
			position: relative
		.subtitle-bold
			margin-bottom: 30px
		.block
			width: 200px
			float: left
			margin: 0 30px 30px 0
			@media only screen and (min-width: 640px) and (max-width: 1024px)
				margin: 0 30px 15px 0
			@media only screen and (min-width: 1024px) and (max-width: 1440px)
				margin: 0 30px 15px 0
			&:nth-child(n+4)
				@media only screen and (min-width: 640px) and (max-width: 800px)
					display: none
				@media only screen and (min-width: 1024px) and (max-width: 1200px)
					display: none
			.svg
				width: 35px
				height: 35px
				padding: 5px
				background-color: #fff
				fill: $light-brown
				float: left
			span
				font-size: 1.25em
				margin-left: 10px
		.regular
			clear: both
			@media only screen and (min-width: 640px) and (max-width: 1440px)
				display: none
		.button-white
			position: absolute
			bottom: 30px
			left: 30px
			@media only screen and (min-width: 640px) and (max-width: 800px)
				bottom: 20px

	.number
		font-size: 3.75em
		position: absolute
		left: 30px
		top: 20px
		color: #fff
		text-shadow: 1px 1px 5px $light-grey
		z-index: 2
	.name
		font-size: 1.875em
		text-transform: uppercase
		font-weight: 600
		color: #fff
		position: absolute
		left: 30px
		bottom: 50px
		z-index: 2
	.quantity-items
		color: $blue-grey
		position: absolute
		left: 30px
		bottom: 30px
		z-index: 2
	.sand
		position: absolute
		fill-opacity: 0.05
		right: 120px
		bottom: 35px
		width: 40%
		z-index: 2
	.coming-soon
		font-size: 1.33em
		font: Georgia
		font-style: italic
		color: #fff
		position: absolute
		right: 30px
		bottom: 30px
		opacity: 0.5
		z-index: 2
//                                   M A P

.map-wrapper
	overflow: hidden
	margin-bottom: 5px
	.subtitle
		position: relative
		padding-top: 70px
	.regular
		padding-top: 30px
	.map-frame
		height: 500px
		width: 100%
		border: 1px solid $light-grey
		margin-top: 40px
		position: relative
		.map
			position: absolute
			margin-top: 30px
			width: 200%
			max-width: 1400px
			+translate(-50%,0)
			left: 50%

//                        P U B L I C A T I O N S

.arazzinni-publications
	.subtitle-bold
		position: absolute
		bottom: 90px
		left: 30px
		@media #{$medium-only}
			font-size: 1.5em
	.under-subtitle-atributes
		position: absolute
		left: 30px
		bottom: 30px
		.date, .views
			display: inline-block
			margin-right: 10px
			.text
				font-size: 0.875em
				margin-left: 5px
			.svg-block
				height: 35px
				width: 35px
				background-color: $brown
				display: inline-block
				vertical-align: middle
			svg
				position: relative
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
			.eye-svg
				top: 40%
			.font16
				color: $blue-grey

//                                   F O R M

.form-wrapper
	position: relative
	overflow: hidden
	.door-container
		height: 650px
		width: 550px
		position: absolute
		bottom: 0
		background-position: bottom
		@media only screen and (max-width: 1024px)
			display: none
	.first-door, .second-door, .third-door
		background-repeat: no-repeat
		bottom: 0
		position: absolute
		width: inherit
		background-size: contain
		+translate(0,100%)
	.first-door
		height: 90%
		+transition(.3s)
		+transition-delay(.4s)
	.second-door
		height: 95%
		left: 20%
		+transition(.4s)
		+transition-delay(.2s)
	.third-door
		height: 100%
		left: 40%
		+transition(.5s)
		+transition-delay(0)
	.appeared
		+translate(0,0)
	.form-container
		border: 1px solid $light-grey
		margin-top: 100px
		margin-bottom: 20px
		position: relative
		z-index: 2
		max-width: 500px
		min-width: 400px
		textarea
			border: 1px solid $light-grey
		@media #{$medium-only}
			margin: 100px auto 20px
		@media #{$small-only}
			margin: 50px auto 20px
			min-width: initial

.footer-container
	line-height: 65px
	text-align: center
	background-color: $brown
	color: #fff
	margin-top: 5px
	.logo
		display: inline-block
		position: relative
		top: 10px
		margin-right: 10px
	a
		margin-right: 20px
	.font14
		display: inline-block
	.go-left
		float: left !important
		@media #{$small-only}
			background-color: #6C4E2C
		@media #{$medium-only}
			background-color: #6C4E2C
	.go-right
		float: right !important