$brown: #876036
$light-brown: #886137
$dark-grey: #414141
$blue-grey: #DFDFDF
$light-grey: #BCBCBC

=after($width, $color)
	content: ''
	position: absolute
	bottom: -8px
	left: 0
	width: $width
	border: 1px solid $color

=transform
	position: relative
	top: 50%
	transform: translateY(-50%)

.section-title
	font-size: 2.5em
	text-transform: uppercase
	margin-left: 30px
	margin-top: 30px
	position: relative
	color: #fff
	line-height: 40px
	&:after
		content: ""
		position: absolute
		bottom: -15px
		left: 3px
		width: 95px
		border: 1px solid #fff

.subtitle
	font-size: 1.875em
	color: $brown
	text-transform: uppercase
	position: relative
	&:after
		+after(100px, $brown)
.subtitle-bold
	font-size: 1.875em
	font-weight: 600
	color: #fff
	text-transform: uppercase
	position: relative
	line-height: 32px
	&:after
		+after(100px, #fff)


.unit-name
	font-size: 1.5625em
	font-weight: 600
	text-transform: uppercase

.wood-type
	font-size: 1em
	position: relative
	&:after
		+after(100px, $dark-grey)
